extends ./layout

block content
  .w3-card.w3-padding.w3-center.w3-margin-top
    i.fa-regular.fa-compass.w3-text-red(style="font-size: 48px")
    h3 404 — Не найдено
    p.w3-text-grey #{message || 'Ресурс не найден'}
    a.w3-button.w3-teal.w3-margin-top(href="/books")
      i.fa-solid.fa-arrow-left
      |  К списку книг
