extends ./layout.pug

block content
  .admin-panel
    .title Новости

    // Создать пост от имени пользователя
    form#news-create-form.mb-3
      .input-group
        textarea.form-control(name="content", rows="2", placeholder="Что нового?", required)
        button.btn.btn-success(type="submit") Опубликовать

    ul.list-group#news-list
